{% extends 'authapp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
            <button type="submit" class="btn btn-primary btn-block">
                Войти
            </button>
        </p>
    </form>
    <p>
        <div class="row justify-content-between">
            <div class="col">
                <a href="{% url 'authapp:register' %}">
                    <small>
                        Регистрация
                    </small>
                </a>
            </div>
            <div class="col">
                <a href="#">
                    <small>
                        Забыли пароль?
                    </small>
                </a>
            </div>
        </div>
    </p>
{% endblock content %}