{% extends 'authapp/base.html' %}
{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
          <p>
            <input id="id_username" class="textInput form-control" type="text"
                   name="username" placeholder="Имя пользователя" required="" autofocus="">
          </p>
          <p>
            <input id="id_email" class="textInput form-control" type="text"
                   name="email" placeholder="Email пользователя" required="" autofocus="">
          </p>
          <p>
            <input id="id_password" class="form-control" type="password"
                   name="password1" placeholder="Password" required="">
          </p>
          <p>
            <input id="id_password2" class="form-control" type="password"
                   name="password2" placeholder="Password confirm" required="">
          </p>
          <p>
            <input class="textInput form-control" type="text" name="firstname"
                   placeholder="First name" required="">
          </p>
          <p>
            <input class="textInput form-control" type="text" name="lastname"
                   placeholder="Last name" required="">
          </p>
          <p>
            <input class="textInput form-control" type="number" name="age"
                   placeholder="Age" required="">
          </p>
          <p>
            <input class="textInput form-control" type="file" name="avatar"
                   placeholder="Avatar user" required="">
          </p>
          <p>
            <button type="submit" class="btn btn-primary btn-block">Зарегистрироваться</button>
          </p>
    </form>

    <p>
        <div class="row justify-content-between">
            <div class="col">
                <a href="{% url 'authapp:login' %}"><small>Войти</small></a>
            </div>
            <div class="col">
                <a href="#"><small>Забыли пароль?</small></a>
            </div>
        </div>
    </p>

{% endblock content %}